@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?-8fq4fp');
	src:url('fonts/icons.eot?#iefix-8fq4fp') format('embedded-opentype'),
		url('fonts/icons.woff?-8fq4fp') format('woff'),
		url('fonts/icons.ttf?-8fq4fp') format('truetype'),
		url('fonts/icons.svg?-8fq4fp#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-bio:before {
	content: "\e602";
}
.icon-resume:before {
	content: "\e601";
}
.icon-contact:before {
	content: "\e603";
}
.icon-play:before {
	content: "\e60b";
}
.icon-pause:before {
	content: "\e60c";
}
.icon-unmute:before {
	content: "\e60d";
}
.icon-mute:before {
	content: "\e60e";
}
.icon-google:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-instagram:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-github:before {
	content: "\e608";
}
.icon-blog:before {
	content: "\e60a";
}
.icon-linkedin:before {
	content: "\e609";
}
